<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>CMood</title>
    <link rel = "icon" href = "/images/bestlogopre.png" type = "image/x-icon">
    <link rel="stylesheet" href="/stylesheets/fontandbg.css">
    <link rel="stylesheet" href="/stylesheets/button.css">
    <link rel="stylesheet" href="/stylesheets/buttonprofile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color:rgb(4, 4, 87,0.6)">
        <a class="navbar-brand text-white" href="#">
          <% if(name === 'undefined'){ %>
            <img src="/images/bestlogo.png" width="60px"><span style="font-size: 20px;"> CMood</span>
          <%}else if(preOrNot){ %>
            <img src="/images/bestlogopre.png" width="60px"><span style="font-size: 20px;"> CMood</span>
          <%}else if(!preOrNot){ %>
            <img src="/images/bestlogo.png" width="60px"><span style="font-size: 20px;"> CMood</span>
          <%} %>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ">
            <li class="nav-item active button">
              <a class="nav-link text-light " href="/"> Home</a>
            </li>
            <li class="nav-item button">
              <a class="nav-link text-light " href="#"> FAV/Downloads </a>
            </li>
            <%if(name === 'undefined'){ %>
              
              <%}else{ %>
                <li class="nav-item button">
                  <a class="nav-link text-light" href="/premium">Premium👑</a>
                </li>
              <%} %>
              <%if(name === 'undefined'){ %>

                <%}else{ %>
                  <li class="nav-item button">
                    <a class="nav-link text-light" href="#" data-target="#example" data-toggle="modal">LogOut</a>
                  </li>
                <%} %>       
          </ul>
          <form class="d-flex ml-auto mt-auto mb-auto mr-auto form-group" action="/search" method="POST">
            <input id="searchbar " name="search" size="80" class="form-control me-2 buscar-txt rounded search-bar" type="search" placeholder="Search" aria-label="Search">
            <button class="slide btn btn-outline-success" type="submit">Search</button>
          </form>
          <% if(name === 'undefined'){ %>
            <li class="nav-item ml-auto mb-3" style="width: 200px;">
              <a href="/login" class="nav-link text-light pulse1 rounded" style="text-align: center; border: 2px solid; border-color:rgb(255, 255, 255)"><b>LOGIN</b></a>
            </li>
          <% }else{ %>
            <li class="nav-item ml-auto mb-3" style="width: 200px;">
              <% if(preOrNot){ %>
                <a href="/goprofile/<%= name %>" class="pulse nav-link text-light rounded" style="text-align: center; border: 2px solid; border-color:yellow;"><b><i class="fa fa-user"></i> :</b> <%= name %> 👑</a>
              <%}else{ %>
                <a href="/goprofile/<%= name %>" class="pulse1 nav-link text-light  rounded" style="text-align: center; border: 2px solid; border-color:rgb(255, 255, 255)"><b><i class="fa fa-user"></i> :</b> <%= name %></a>
              <%} %>
            </li> 
          <% } %>
        </div>
    </nav>
    <div class="m-auto container-fluid" style="width: 90%;">
      <div class="p-5 mb-5 rounded " style="background-color:rgb(232, 244, 255,0.4)">
        <div class="m-3 p-5 rounded container-fluid m-auto "  style="background-color:rgb(232, 244, 255,0.4); word-wrap:break-word;">
            <!-- <h1 class="button text-left">Space of song that you love :</h1>
            <div class="row">
                <%if(preOrNot){ %>
                  <img class=" col-lg-5" src="/images/bestlogopre.png">
                <%}else{ %>
                  <img class=" col-lg-5" src="/images/bestlogo.png">
                <%} %>
                <div class=" col-lg-7 ">
                    <h2 class="p-5 pb-3" >User Name :</h2>
                    <h3 class="pl-5" ><%= name %></h3>
                    <h2 class="p-5 pb-3" >User ID :</h2>
                    <h3 class="pl-5" ><%= username %></h3>
                    <h2 class="p-5 pb-3" >Email :</h2>
                    <h3 class="pl-5" ><%= email %></h3>
                </div>
            </div> -->
            <h1 class="button text-left">Favorites Song :</h1><br>
            <form class="d-flex flex-row-reverse form-group " action="/favoritesearch" method="POST">
              <button class="slide btn btn-outline-success" type="submit">Search</button>
              <input id="searchbar " name="search" size="80" class="form-control me-2 buscar-txt rounded search-bar" type="search" placeholder="Search" aria-label="Search">
            </form>
            <table class="table table-borderless table-hover table-responsive-lg">
              <thead>
                <tr>
                  <th scope="col">Number</th>
                  <th scope="col">Artist</th>
                  <th scope="col">Title</th>
                  <th scope="col">song</th>
                  <th scope="col">Download</th>
                  <th scope="col">lyrics</th>
                  <th scope="col">Favorite</th>
                </tr>
              </thead>
              <tbody>
                <%for(let i = 0;i < artistfav.length;i++){ %>
                  <tr>
                    <th scope="row" class="align-middle"><%= i+1 %></th>
                    <td><img src="<%= imgfav[i] %>" class="img-fluid" width="100px">&nbsp;&nbsp;<%= artistfav[i] %></td>
                    <td class="align-middle"><%= songfav[i] %></td>
                    <td class="align-middle">
                      <audio controls >
                        <source  src="<%= singfav[i] %>" type="audio/mpeg">
                      </audio>
                    </td>
                    <%if(preOrNot){ %>
                        <td class="align-middle"><a href="" data-target="#com<%= i %>" data-toggle="modal"><img src="/images/downloadsong.png" class="img-fluid" width="30px"></a></td>
                      <%}else{ %>
                        <td class="align-middle"><a href="" data-target="#gopre<%= i %>" data-toggle="modal"><img src="/images/downloadsong.png" class="img-fluid" width="30px"></a></td>
                      <%} %>
                    <td class="align-middle"><a href="/detail/<%= artistfav[i] %>/<%= songfav[i] %>"><img src="/images/song-lyrics.png" class="img-fluid" width="30px"></a></td>
                    <td class="align-middle"><a href="/favoritedel/<%= name %>/<%= artistfav[i] %>/<%= songfav[i] %>"><img src="/images/star.png" class="img-fluid" width="30px"></a></td>
                  </tr>
                  <div class="modal fade" id="com<%= i %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="Title">Download</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Are you sure to download <h5><%= songfav[i] %></h5>
                        </div>
                        <div class="modal-footer">
                          <form method="GET" action="/downloadfav/<%= artistfav[i] %>/<%= songfav[i] %>">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Ok</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade" id="gopre<%= i %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="Title">Premium👑</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          This feature need premium account.
                        </div>
                        <div class="modal-footer">
                          <form method="GET" action="/premium">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Go premium</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                <%} %>
              </tbody>
            </table>
        </div>
    </div>
    </div>
    <div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="Title">LogOut</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure to LogOut?
          </div>
          <div class="modal-footer">
            <form method="GET" action="/logout">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">LogOut</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</body>
</html>