<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>CMood</title>
    <link rel = "icon" href = "../images/bestlogopre.png" type = "image/x-icon">
    <link href="../stylesheets/premium1.css" rel="stylesheet">
    <link href="../stylesheets/button.css" rel="stylesheet">
    <link href="../stylesheets/buttonprofile.css" rel="stylesheet">
    <script src="../javascripts/search_bar.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      .d{
        color: white;
      }
      .d:hover{
        color: rgb(0, 0, 0);

      }
    </style>
</head>
<body style="background-color: black;">
  <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color:rgb(4, 4, 87,0.6)">
    <a class="navbar-brand text-white" href="#">
      <% if(name === 'undefined'){ %>
        <img src="../images/bestlogo.png" width="60px"><span style="font-size: 20px;"> CMood</span>
      <%}else if(preOrNot){ %>
        <img src="../images/bestlogopre.png" width="60px"><span style="font-size: 20px;"> CMood</span>
      <%}else if(!preOrNot){ %>
        <img src="../images/bestlogo.png" width="60px"><span style="font-size: 20px;"> CMood</span>
      <%} %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active button">
          <a class="nav-link text-light" href="/"> Home</a>
        </li>
        <%if(name === 'undefined'){ %>
          <li class="nav-item button">
            <a class="nav-link text-light" href="#" data-target="#fav" data-toggle="modal" > FAV/Downloads </a>
          </li>
        <%}else{ %>
          <li class="nav-item button">
            <a class="nav-link text-light" href="/favorite"> FAV/Downloads </a>
          </li>
        <%} %>
        <%if(name === 'undefined'){ %>
              
          <%}else{ %>
            <li class="nav-item button">
              <a class="nav-link text-light" href="/premium">Premium👑</a>
            </li>
          <%} %>
        <%if(name === 'undefined'){ %>

          <%}else{ %>
            <li class="nav-item button">
              <a class="nav-link text-light" href="#" data-target="#example" data-toggle="modal">LogOut</a>
            </li>
          <%} %>
      </ul>
      <form class="d-flex ml-auto mt-auto mb-auto mr-auto form-group" action="/search" method="POST">
        <input id="searchbar " name="search" size="80" class="form-control me-2 buscar-txt rounded search-bar" type="search" placeholder="Search" aria-label="Search">
        <button class="slide btn btn-outline-success" type="submit">Search</button>
      </form>
      <% if(name === 'undefined'){ %>
        <li class="nav-item ml-auto mb-3" style="width: 200px;">
          <a href="/login" class="nav-link text-light pulse1 rounded" style="text-align: center; border: 2px solid; border-color:rgb(255, 255, 255)"><b>LOGIN</b></a>
        </li>
      <% }else{ %>
        <li class="nav-item ml-auto mb-3" style="width: 200px;">
          <% if(preOrNot){ %>
            <a href="/goprofile/<%= name %>" class="pulse nav-link text-light rounded" style="text-align: center; border: 2px solid; border-color:yellow;"><b><i class="fa fa-user"></i> :</b> <%= name %> 👑</a>
          <%}else{ %>
            <a href="/goprofile/<%= name %>" class="pulse1 nav-link text-light  rounded" style="text-align: center; border: 2px solid; border-color:rgb(255, 255, 255)"><b><i class="fa fa-user"></i> :</b> <%= name %></a>
          <%} %>
        </li> 
      <% } %>
    </nav>
    </nav>
    <div class="container-fuild m-auto  " style="width: 90%;">
      <% if(!preOrNot){ %>
        <div class="rounded bgground p-5  container-fluid " style="word-wrap:break-word">
          <div class="insidebg row rounded">
            <img src="../images/prepic.png" class = "img-fluid col-lg-6 rounded" >
            <div class="col-lg-6 " style="margin-top: 150px; ">
              <h1 class="button text-left" style="font-size:80px; color:white">Premium Account</h1>
              <p style="font-size:18px; color:white">
                เพิ่มประสบการณ์ให้มากขึ้นใน CMood premium คุณจะได้สัมผัสและเพลิดเพลินไปกับบทเพลงของศิลปินมากมายโดย 
                CMood premium จะทำให้คุณสามารถ ดาวโหลดเพลงที่คุณต้องการได้ อย่ามัวแต่เพิ่มเพลงลง list ถ้าไม่คิดจะฟัง ลอง
                มา join กับเรา รับประกันคุณภาพเสียงที่ดีดาวโหลดไปแล้วฟังที่ไหนเมื่อไหร่ก็ได้ สะดวกรวดเร็ว เพียง 
                <span class="badge badge-warning" style="color:green"><b>139 Baht/month</b></span>
              </p>
              <h1 style="color: white;"><b>your account : <%= name %></b></h1><br>
              <form action="/getpremium" method="GET">
                <input type="submit" value="Enter premium" class="w-50 btn offset d p-3" >
              </form>
            </div>
            
          </div>
        </div>
      <%}else{ %>
        <div class="rounded bgground p-5  container-fluid" style="word-wrap:break-word">
          <div class="insidebg row rounded" >
            <img src="../images/prepic.png" class = "img-fluid col-lg-6 rounded" >
            <div class="col-lg-6 " style="margin-top: 150px; ">
              <h1 class="button text-left" style="font-size:80px; color:white">Premium Account</h1>
              <h1 style="color: white;">your account : <%= name %></h1>
              <h2 style="color: white;">You already have premium 👑</h2><br>
              <form action="/cancelpremium" method="GET" >
                <input type="submit" value="Cancel premium" class="w-50 btn  offset d p-3">
              </form>
            </div>
            
          </div>
        </div>
      <%} %>
    </div> 
    <div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="Title">LogOut</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure to LogOut?
          </div>
          <div class="modal-footer">
            <form method="GET" action="/logout">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">LogOut</button>
            </form>
          </div>
        </div>
      </div>
    </div> 
    <div class="modal fade" id="fav" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="Title">this content for user</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            login to unlocked this feature
          </div>
          <div class="modal-footer">
            <form method="GET" action="/login">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">LogIn</button>
            </form>
          </div>
        </div>
      </div>
    </div>      
</body>
</html>